body{
    background-color: rosybrown;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.card-body{
    background-color:rgb(255, 225, 255);
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    width: 390px;
    height: 200px;
}
h1{
    font-size: 40px;
}
#title{
    margin-bottom: 15px;
    font-size: 50px;
}
.btn button{
    color: black;
    padding: 10px 23px;
    background-color: palevioletred;
    border: 0;
    font-size: 22px;
    font-weight: bold;
}
button:hover{
    background-color:  antiquewhite;
}
button #decrement{
    font-size: 25px;
}